@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden ;
  margin: 0;
}
.container {
  display:flex;
  width: 90vw;
}
.panel{
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: aliceblue;
  cursor: pointer;
  flex: 0.5; 
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in
}
