@tailwind base;
@tailwind components;
@tailwind utilities;


/** @type {import('tailwindcss').Config} */
module.exports = {
    content: ['./index.html'],
    darkMode: 'class', 
    theme: {
      extend: {}, 
    },
    plugins: [],
  }
  
  