/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: #f0f0f0;                                                      
}


.appContainer {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: stretch; 
  width: 100%; 
  max-width: 600px; 
  padding: 20px; 
  gap: 1rem; 
  background-color: #1877F2; 
  border-radius: 30px; 
}

.input {
  display: flex;
  width: 100%; 
  gap: 10px; 
}

.input-field {
  flex-grow: 1; 
  border: 0.06rem solid #d2d2d2bf;
  border-radius: 0.5rem;
  padding: 1.25rem;
  font-size: 1rem;
}


.todo-list {
  list-style: none; 
  padding: 0;
  max-height: 300px; 
  overflow-y: auto; 
  width: 100%; 
}

.todo-list li {
  width: 100%; 
  margin: 10px 0; 
  padding: 15px; 
  border: 2px solid #1877F2; 
  border-radius: 10px; 
  background-color: #f0f0f0; 
}