

  grid-container {
    border: 5px solid lightcoral; 
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header  header"
    "sidebar main-content"
    "footer  footer" ;
  }


  
 .header {
    background: aquamarine;
    grid-area: header;     
 } 
 .sidebar {
    grid-area: sidebar;
    background: red;      
   } 
  .footer {
    grid-area: footer;
    background: blue;
       } 
  .main-content{
    background: pink;
  }
       
       /*
       Transform .grid-container into a grid container with two columns and three rows.
       Use grid-template-areas to structure the grid as follows:
       a. The first row contains the header that spans across two columns.
       b. The second row contains the sidebar in the first column and the main content in the second column.
       c. The third row contains the footer that spans across two columns.
       Ensure that each grid area corresponds to its respective named class (for example, the "header" area for the header).
              