/* Styles généraux */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    gap: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: max-content;
    margin-bottom: 20px;
}

.square {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s; /* Transition pour la couleur de fond */
}

/* Animation des images */
@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateCounterClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.square img {
    width: 60px; /* Ajustez selon vos besoins */
    height: 60px;
    animation: rotateClockwise 2s linear infinite;
}

.square:nth-child(even) img {
    animation: rotateClockwise 2s linear infinite;
}

.square:nth-child(odd) img {
    animation: rotateCounterClockwise 2s linear infinite;
}

/* Animation de survol des carrés */
@keyframes hoverAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
        background-color: currentColor;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
        background-color: #fff; /* Couleur de fond en survol */
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
        background-color: #ccc; /* Couleur de fond finale */
    }
}

.square:hover {
    animation: hoverAnimation 1s forwards;
}

/* Couleurs spécifiques pour chaque carré */
.square1 { background-color: #e74c3c; }
.square2 { background-color: #2ecc71; }
.square3 { background-color: #f39c12; }
.square4 { background-color: #9b59b6; }
.square5 { background-color: #1abc9c; }
.square6 { background-color: #34495e; }
.square7 { background-color: #d35400; }
.square8 { background-color: #7f8c8d; }
.square9 { background-color: #2980b9; }

.square10 { 
    background-color: #f0f0f0; /* Couleur de fond par défaut pour square10 */
}

.square11 { 
    background-color: #f0f0f0; /* Couleur de fond par défaut pour square11 */
}
