

  grid-container {
    border: 5px solid lightcoral; 
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header  header"
    "sidebar main-content"
    "footer  footer" ;
  }


  
 .header {
    background: aquamarine;
    grid-area: header;     
 } 
 .sidebar {
    grid-area: sidebar;
    background: red;      
   } 
  .footer {
    grid-area: footer;
    background: blue;
       } 
  .main-content{
    background: pink;
  }
       
     