div.conteneur{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 80% 10%;  
    grid-template-areas: 
      "nav    nav    nav "
      "lien   grille regles"
      "lien   format ."   ; 
  }
.nav{
  grid-area: nav;
  place-self: center;
}
.header {
  grid-area: nav;
  place-self: center;
}
.grille{
    
  grid-area: grille;
  place-self: center;
}
.format{
  grid-area: format;
  place-self: center;
}
.regles{
  grid-area: regles;
}
h1{
  text-align: center;
}
p.center {
  text-align: center;
  color: red;
}





