body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.flex-container {
    display: flex;
    background-color: #f4f4f4;
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 200px;
}

.flex-item {
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    text-align: center;
    min-width: 50px;
}
.product-description{
    display: flex;
    flex-direction: row;

}
#controls {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#controls div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 120px;
}

select {
    width: 150px;
}