:root {
  /* Couleurs */
  --color-background: #f0f0f0;
  --color-header: #4a4a4a;
  /* Espacements */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

header {
  background-color: var(--color-header);
  color: var(--color-text-light);
  padding: var(--spacing-medium);
  text-align: center;
}


.carte-animal {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.carte-animal h2 {
  margin-top: var(--spacing-small);
}

.list-view {
  display: flex;
}

.list-view .carte-animal {
}

.list-view .carte-animal h2 {
  margin: 0 0 var(--spacing-small) 0;
}

.list-view .carte-animal p {
  margin: 0 0 var(--spacing-small) 0;
}

.grid-view {
  display: grid;
}
.grid-view .carte-animal {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

nav button, nav input, nav label {
  margin: 0 var(--spacing-small);
}


/* Overlay et Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-modal {
}
.fermer-modal {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* Media Queries pour la responsivité */
@media screen and (max-width: 768px) {
  .carte-animal {
    width: 45%;
  }
}


button.filter-button { 
  background-color: rgb(94, 94, 94);
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button.filter-button.active { 
  background-color: #f0f0f0;
}