* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.flex-container > div {
  flex: 0 0 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
