body{
  padding: 30px;
  margin: 10px;
  align-items: center;
}

.item{
  background-color: aquamarine;
  text-align: center;
  padding: 1px;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
  height: 500px;
}

div .item1{
  width: 250px;
  height: 250px;
}