*{
    background-color: pink;
}
.enregistrement{
    
    background-color: black;
    color: aliceblue;
    text-align: center;
}
 .prenom{
    background-color: grey;
}
{
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    background: white;
    grid-template-rows: 100px 300px 100px ;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: ;
}

.form1 {
        background: white;
        text-align:left;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
.divb{
    background-color: white;
}


.button{
    border-radius: 10%;
    background-color: red;
    color: aliceblue;
}
input[type=text] {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    background-color:  lightgray;
    color: white;
  }